main {
  background: rgb(107, 80, 80);

  max-width:1000px;

    

    padding: 5px 300px;

    

    display:inline-block;

    margin:10px auto;

    
    
}

section {
  background: rgb(172, 140, 140);
}

.navigation {
  color: brown;

  background: yellow;
}

.main__heading{
  color:greenyellow
}
.about__heading{
  color: rgb(32, 54, 32);
}

.notes__heading {
  color: rgb(36, 58, 3);
}

.header__note__week{
  color: green;
}

